<div class="panel panel-primary">

  <br>
  <div class="panel-heading">
    {{pageTitle}}
  </div>
  <br>

  <div class="panel-body">
    <form class="form-horizontal" novalidate (ngSubmit)="saveLink()">

      <fieldset *ngIf="link">
        <div class="form-group" [ngClass]="{'has-error': (nameVar.touched || 
                                         nameVar.dirty || link.id !== 0) && 
                                         !nameVar.valid }">
          <label class="col-md-2 control-label" for="nameId">Name</label>

          <div class="col-md-8">
            <input class="form-control" id="nameId" type="url" placeholder="Name (required)" required minlength="3"
              [(ngModel)]=link.name name="name" #nameVar="ngModel" 
              [ngClass]="{'is-invalid': (nameVar.touched ||  nameVar.dirty) && !nameVar.valid }" />
            <span class="error text-danger" *ngIf="(nameVar.touched ||
                                                   nameVar.dirty || link.id !== 0) &&
                                                   nameVar.errors">
              <span *ngIf="nameVar.errors.required">
                Link name is required.
              </span>
              <span *ngIf="nameVar.errors.minlength">
                Link name must be at least three characters.
              </span>
            </span>
          </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': (valueVar.touched || 
                                    valueVar.dirty || link.id !== 0) && 
                                    !valueVar.valid }">
          <label class="col-md-2 control-label" for="valueId">Link Value</label>

          <div class="col-md-8">
            <input class="form-control" id="valueId" type="url" placeholder="Value (required)" required
              [pattern]="urlPattern" [(ngModel)]=link.value name="value" #valueVar="ngModel" 
              [ngClass]="{'is-invalid': (valueVar.touched ||  valueVar.dirty) && !valueVar.valid }" />
            <span class="error text-danger" *ngIf="(valueVar.touched ||
                                              valueVar.dirty || link.id !== 0) &&
                                              valueVar.errors">
              <span *ngIf="valueVar.errors.required">
                Value is required.
              </span>
              <span *ngIf="valueVar.errors.pattern">
                Value is not valid.
              </span>
            </span>
          </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': (imageUrlVar.touched || 
        imageUrlVar.dirty || link.id !== 0) && 
        !imageUrlVar.valid }">
          <label class="col-md-2 control-label" for="imageUrlId">Link URL</label>

          <div class="col-md-8">
            <input class="form-control" id="imageUrlId" type="url" placeholder="URL (required)" required
              [pattern]="urlPattern" [(ngModel)]=link.imageUrl name="imageUrl" #imageUrlVar="ngModel" 
              [ngClass]="{'is-invalid': (imageUrlVar.touched ||  imageUrlVar.dirty) && !imageUrlVar.valid }" />
            <span class="error text-danger" *ngIf="(imageUrlVar.touched || imageUrlVar.dirty || link.id !== 0) && imageUrlVar.errors">
              <span *ngIf="imageUrlVar.errors.required">
                Value is required.
              </span>
              <span *ngIf="imageUrlVar.errors.pattern">
                Value is not valid.
              </span>
            </span>
          </div>
        </div>


        <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>

        <div class="form-group">
          <div class="col-md-4 col-md-offset-2">
            <span>
              <button class="btn btn-primary" type="submit" style="width:80px;margin-right:10px"
                [disabled]='!editForm.valid' >
                Save
              </button>
            </span>
            <span>
              <a class="btn btn-default" style="width:80px" (click)="cancel()">
                Cancel
              </a>
            </span>
            <span>
              <a class="btn btn-default" style="width:80px" (click)="deleteLink()">
                Delete
              </a>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>